<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovieController</servlet-name>
        <servlet-class>controller.SearchMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>controller.signUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceController</servlet-name>
        <servlet-class>controller.BalanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtendRentController</servlet-name>
        <servlet-class>controller.ExtendRentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>controller.MovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentController</servlet-name>
        <servlet-class>controller.RentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnMovieController</servlet-name>
        <servlet-class>controller.ReturnMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>controller.AddMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovie</servlet-name>
        <servlet-class>controller.EditMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMails</servlet-name>
        <servlet-class>controller.SendMails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileController</servlet-name>
        <servlet-class>controller.editProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoUpdateController</servlet-name>
        <servlet-class>controller.InfoUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovieController</servlet-name>
        <url-pattern>/SearchMovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/signUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceController</servlet-name>
        <url-pattern>/BalanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtendRentController</servlet-name>
        <url-pattern>/ExtendRentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/MovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentController</servlet-name>
        <url-pattern>/RentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnMovieController</servlet-name>
        <url-pattern>/ReturnMovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovie</servlet-name>
        <url-pattern>/EditMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMails</servlet-name>
        <url-pattern>/SendMails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileController</servlet-name>
        <url-pattern>/editProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoUpdateController</servlet-name>
        <url-pattern>/InfoUpdateController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
